@page
@using Atividade_06_Vitrine.Pages
@using Atividade_06_Vitrine.Models
@model IndexModel
@{
    ViewData["Title"] = "Tudo";
    Layout = "_Layout";
}

<div class="product-grid">
    @foreach (Produto produto in Model.Produtos)
    {
        <div class="product-card">
            <img src="@produto.ImageURL" alt="@produto.Descricao">
            <h2>@produto.Descricao</h2>
            @if (@produto.Desconto > 0) {
                <p class="from-price">De: R$ @produto.ValorBruto.ToString("0.00")</p>
                <p class="to-price">Por: R$ @produto.CalcularValorLiquido().ToString("0.00")</p>
            } else {
                <p class="to-price">Preço: R$ @produto.CalcularValorLiquido().ToString("0.00")</p>
            }
            
        </div>
    }
</div>